* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.dang-nhap .flex-space-bw ,
.dang-ky .flex-space-bw {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header.header-page > .menu-header {
    background-color: #00c9fc;
}

header.header-page > .menu-header > .container > .row a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

header.header-page > .menu-header > .container > .row a:hover {
    background-color: #eeeeeeaa;
}

#row-otp {
    display: none;
}